<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test verbose="2" preserve-order="true" name="TestUser">
    <classes>
      <class name="com.restassured.test.APIUserTesting"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="TestBooking">
    <classes>
      <class name="com.restassured.test.APIBookingTesting"/>
    </classes>
  </test>  <!--Test--> 
  <test thread-count="5" name="TestReqResAPIs">
    <classes>
      <class name="com.restassured.test.ReqResAPITesting"/>
    </classes>
  </test>  <!--Test--> 
</suite> <!-- Suite -->
